<h1>User Account Page</h1>

<table id="userTable" class="table table-striped" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>User Name</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Primary Account</th>
			<th>Savings Account</th>
			<th>Enabled</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr >
			<td>rishabh</td>
			<td>rishabh</td>
			<td>srivastava</td>
			<td>test@test.com</td>
			<td>123456789}</td>
			<td><a  style="cursor: pointer;">2000</a></td>
			<td><a  style="cursor: pointer;">5000</a></td>
			<td>Yes</td>
			<td><a  style="cursor: pointer;">Enable</a></td>
			<td><a  style="cursor: pointer;">Disable</a></td>
		</tr>
	</tbody>
</table>   

